{% extends 'neige_soleil_app/auth_layout.html' %}
{% block content %}
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">

                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Creer un compte</h1>
                            </div>
                            {% include 'neige_soleil_app/form_user_model.html' %}
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{% url 'login' %}">Vous etes deja membre ? connectez vous ! </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}