<form method="post">
    {% csrf_token %}
    {% if edit %}
        <div class="mb-3">
            <label for="username" class="form-label" >Nom d'utilisateur : </label><input class="form-control" id="username" type="text" name="username"  value="{{ request.user.username }}">
        </div>
        <div class="mb-3">
            <label for="lastname" class="form-label" >Nom : </label><input class="form-control" id="lastname" type="text" name="last_name"  value="{{ request.user.last_name }}">
        </div>
        <div class="mb-3">
            <label for="firstname" class="form-label">Prenom : </label><input class="form-control"  id="firstname" type="text" name="first_name" value="{{ request.user.first_name }}">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email : </label><input class="form-control"  id="email" type="text" name="email" value="{{ request.user.email }}">
        </div>
    {% endif %}
    <div class="mb-3">
        <label for="adresse" class="form-label" >Votre adresse : </label><input class="form-control" id="adresse" type="text" name="adresse" placeholder="Numero, voie, rue etc.." value="{{ request.user.profile.adresse }}">
    </div>
    <div class="mb-3">
        <label for="cp" class="form-label">Code postale : </label><input class="form-control"  id="cp" type="number" name="code_postale" placeholder="Le code postale de votre ville" value="{{ request.user.profile.code_postale }}">
    </div>
    <div class="mb-3">
        <label for="ville" class="form-label">Ville : </label><input class="form-control"  id="ville" type="text" name="ville" placeholder="Votre ville de résidence" value="{{ request.user.profile.ville }}">
    </div>
    <div class="mb-3">
        <label for="tel" class="form-label">Telephone : </label><input class="form-control"  id="tel" type="tel" name="telephone" placeholder="Numero de telephone" value="{{ request.user.profile.telephone }}">
    </div>
    <div class="mb-5">
        <input type="submit" class="btn btn-primary" value="Valider">
    </div>
</form>