<div class="card">
    <h5 class="card-header"> Formulaire de reservation</h5>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="status_reservation" value="WAIT">
            <div class="row">
                <div class="col-6">
                    <label id="debut" class="form-label">Date de debut de votre sejour</label>
                    <input for="debut" class="form-control" type="date" name="date_debut_sejour" value="{{ reservation.date_debut_sejour|date:"Y-m-d" }}" required>
                </div>
                <div class="col-6">
                    <label id="fin" class="form-label">Date de fin de votre sejour</label>
                    <input for="fin" class="form-control" type="date" name="date_fin_sejour"  value="{{ reservation.date_fin_sejour|date:"Y-m-d" }}" required>
                </div>
            </div>
            <br>
            <input type="submit" class="btn btn-dark" value="Reserver">
        </form>
        <br>
        {% if reservation %}
            <a href="{% url 'cancel_reservation' reservation.id %}" > <button class="btn btn-danger">Annuler</button></a>
        {% endif %}
        {% if messages %}
            {% for message in messages %}
                <p class="text-danger">{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
</div>
<br>
<div class="card">
    <h5 class="card-header"> Indisponibilitée</h5>
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <td scope="col">Numero de reservation</td>
                <td scope="col">Date de début</td>
                <td scope="col">Date de fin</td>
                <td scope="col">Date de la reservation</td>
                <td scope="col">Status</td>
            </tr>
            </thead>
            <tbody>
            {% if reservations %}
                {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.id}}</td>
                        <td>{{ reservation.date_debut_sejour }}</td>
                        <td>{{ reservation.date_fin_sejour }}</td>
                        <td>{{ reservation.date_reservation }}</td>
                        <td>{{ reservation.get_status_reservation_display }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>

        </table>
    </div>
</div>