{% load static %}
<div class="album py-5 ">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for contrat in contrats %}
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225"  role="img" aria-label="Placeholder: Thumbnail"  focusable="false" src="{{ contrat.proprieteimage_set.all.first.imageURL }}">
                    <div class="card-body">
                        <p class="card-title">{{ contrat.nom }}</p>
                        <p class="text-muted">{{ contrat.proprieteprix.prix }} Euros/Semaines</p>
                        <hr>
                        <a href="{% url 'propriete_detail' contrat.id %}" ><button type="button" class="btn btn-secondary">Details</button></a>
                        {% if contrat.user == request.user %}
                            <a><button type="button" class="btn btn-secondary">Modifier</button></a>
                        {% endif %}

                    </div>
                </div>
                <br><br>
            </div>
            {% endfor %}
        </div>
</div>