<div class="card" >
    <div class="card-body">
        <h5 class="card-title">Vos reservations en attentes</h5>
        <h6 class="card-subtitle mb-2 text-muted">Ici vous pourrez modifier vos reservations ou bien les confirmer</h6>
        <table class="table">
            <thead>
            <tr>
                <td>Status</td>
                <td>Date de reservation</td>
                <td>Nom de la propriété</td>
                <td>Debut de sejour</td>
                <td>Fin de sejour</td>
                <td>Prix total</td>
                <td>Operations</td>
            </tr>
            </thead>
            <tbody>
            {% if reservations %}
                {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.get_status_reservation_display}}</td>
                        <td>{{ reservation.date_reservation }}</td>
                        <td>{{ reservation.propriete.nom }}</td>
                        <td>{{ reservation.date_debut_sejour }}</td>
                        <td>{{ reservation.date_fin_sejour }}</td>
                        <td>{{ reservation.prixTotal | floatformat:2 }} Euros</td>
                        <td>
                            <a href="{% url 'louer' reservation.id %}"><button class="btn btn-success">Confirmer</button></a>
                            <a href="{% url 'edit_reservation' reservation.id %}"><button class="btn btn-info">Modifier</button></a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="card-body">
        <h5 class="card-title">Vos reservations annulés</h5>
        <table class="table">
            <thead>
            <tr>
                <td>Status</td>
                <td>Date de reservation</td>
                <td>Nom de la propriété</td>
                <td>Debut de sejour</td>
                <td>Fin de sejour</td>
                <td>Prix total</td>
            </tr>
            </thead>
            <tbody>
            {% if reservations_annules %}
                {% for reservation in reservations_annules %}
                    <tr>
                        <td>{{ reservation.get_status_reservation_display}}</td>
                        <td>{{ reservation.date_reservation }}</td>
                        <td>{{ reservation.propriete.nom }}</td>
                        <td>{{ reservation.date_debut_sejour }}</td>
                        <td>{{ reservation.date_fin_sejour }}</td>
                        <td>{{ reservation.prixTotal | floatformat:2 }} Euros</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

