{% extends 'neige_soleil_app/main_layout.html' %}
{% block content %}
{% load static %}
    {% include 'neige_soleil_app/detail_propriete.html' %}
    <br>
    {% if request.user.profile %}
        {% if contrat.user.id is not request.user.id %}
            <a href="{% url 'reserver' contrat.id %}"><button class="btn btn-secondary">RESERVER</button></a>
        {% else %}
            <a href="{% url 'propriete_edit' contrat.id %}"><button class="btn btn-warning">MODIFIER</button></a>
        {% endif %}
    {% endif %}
{% endblock %}