{% extends 'neige_soleil_app/main_layout.html' %}
{% block content %}
{% load static %}
    <br>
    <form method="post">
    {% csrf_token %}
        <div class="mb-3">
            <label for="id_old_password" class="form-label" >Votre ancien mot de passe : </label><input class="form-control" id="id_old_password" type="password" name="old_password">
        </div>
        <div class="mb-3">
            <label for="id_new_password1" class="form-label" >Nouveau mot de passe : </label><input class="form-control" id="id_new_password1" type="password" name="new_password1">
        </div>
        <div class="mb-3">
            <label for="id_new_password2" class="form-label" >Confirmez votre mot de passe : </label><input class="form-control" id="id_new_password2" type="password" name="new_password2">
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
{% endblock %}