{% extends 'neige_soleil_app/main_layout.html' %}
{% block content %}
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light text-center">Confirmation</h1>
                <p class="lead text-muted text-center"> Souhaitez vous confirmer votre reservation : </p>
                <ul>
                    <li>Propriete : {{ reservation.propriete.nom }}</li>
                    <li>Du {{ reservation.date_debut_sejour }} au {{ reservation.date_fin_sejour }}</li>
                    <li>Prix : {{ reservation.prixTotal | floatformat:2 }}</li>
                </ul>
                <p class="text-center">
                    <form method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary my-2" value="Confirmer">
                    </form>
                </p>
        </div>
    </div>
{% endblock %}