<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Neige et Soleil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'main_home' %}">Neige et Soleil</a>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="{% url 'main_home' %}">Accueil</a>
                        {% if request.user.profile %}
                            <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                            {% if request.user.is_proprietaire %}
                                <a class="nav-link" href="{% url 'main_proprietaire' %}">Espace hôte</a>
                            {% else %}
                                <a class="nav-link" href="{% url 'main_proprietaire' %}">Devenir hôte</a>
                            {% endif %}
                        {% else %}
                            <a class="nav-link" href="{% url 'new_profile' %}">Completer mon profile</a>
                        {% endif %}
                        {% if request.user.profile %}
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ request.user.first_name }} {{ request.user.last_name }}
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="{% url 'detail_profile' %}">Mon profil</a></li>
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">Se deconnecter</a></li>
                                </ul>
                            </div>
                        {% else %}
                            <div class="navbar-nav">
                                <a class="nav-link" href="{% url 'logout' %}">Se deconnecter</a>
                            </div>
                        {% endif %}
                    </div>
                </div>

        </div>
    </nav>
</header>
<main>
    <div class="container-fluid" style="padding: 5% 10% 5% 10%;">
        <!-- Page Heading -->
        <br>
        {% block content %}
        {% endblock %}
    </div>
</main>
    <br>
    <br>
    <hr class="featurette-divider">
<footer class="container-fluid">
    <p>Neige et Soleil, <a href="#">A propos</a> &middot; <a href="#">Documentation</a></p>
</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>