{% extends 'neige_soleil_app/main_layout.html' %}
{% block content %}
    <h3>Vous devez choisir vos dates pour pouvoir reserver</h3>
    <form method="get">
        <div class="row">
            <div class="col-lg-3">
                <label class="form-label" for="datedebut">Debut du sejour</label>
                <input id="datedebut" class="form-control" type="date" name="date_debut_sejour" placeholder="" aria-label="">
            </div>
            <div class="col-lg-3">
                <label class="form-label" for="datefin">Fin du sejour</label>
                <input id="datefin" class="form-control" type="date" name="date_fin_sejour" placeholder="" aria-label="">
            </div>
            <div class="col-lg-3">
                <label class="form-label" for="desc"> </label>
                <input type="submit" class="form-control btn btn-primary" name="query" value="Rechercher">
            </div>
        </div>
    </form>
    <br>
    <hr>
    <h3>Les propriétés disponibles pour ces dates</h3>
    <p>pour reserver, cliquez sur reserver</p>
    {% include 'neige_soleil_app/liste_locations.html' %}
{% endblock %}