{% extends 'neige_soleil_app/main_layout.html' %}
{% block content %}
    <div class="card">
        <h5 class="card-header"> Devenez hote pour proposer des contrats à Neige et Soleil</h5>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="profile" value="{{ request.user.profile.id }}">
                <div class="row">
                    <div class="col-6">
                        <label id="rib" class="form-label">Votre Releve d'identité bancaire</label>
                        <input for="rib" class="form-control" type="text" name="rib" required>
                    </div>
                </div>
                <br>
                <input type="submit" class="btn btn-dark" value="Valider">
            </form>
        </div>
    </div>
{% endblock %}