{% extends 'neige_soleil_app/layout_auth.html' %}
{% block content %}
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">

                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Creer un compte</h1>
                            </div>
                            <form class="user" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" name="email" id="exampleInputEmail"
                                           placeholder="Adresse email">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" name="first_name" id="exampleInputEmail"
                                           placeholder="Votre prenom">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" name="last_name" id="exampleInputEmail"
                                           placeholder="Votre nom">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" name="username" id="exampleInputEmail"
                                           placeholder="Nom d'utilisateur">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                               id="exampleInputPassword" name="password1" placeholder="Mot de passe">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                               id="exampleRepeatPassword" name="password2" placeholder="Confirmez votre mot de passe">
                                    </div>
                                </div>

                                <input type="submit" name="enregistrer" value="Enregistrer" class="btn btn-primary btn-user btn-block">

                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{% url 'login' %}">Vous etes deja membre ? connectez vous ! </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}